.chat-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: flex-end; /* Ensure messages start from the bottom */
}

.message {
  display: flex;
  border-radius: 8px;
  max-width: 60%; /* Limits the width of messages */
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; /* Ensures that long words break properly */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex-shrink: 1; /* Prevents message overflow */
  margin-bottom: 10px; /* Adds margin between messages */
}

.message.received {
  justify-content: flex-start;
  background-color: #737077;
  align-self: flex-start; /* Aligns to the left */
}

.message.sent {
  justify-content: flex-end;
  background-color: #d1e7ff;
  align-self: flex-end; /* Aligns to the right */
}

.message-content {
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: #333;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word; /* Ensures long text or URLs break onto new lines */
}

.message-time {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
  align-self: flex-end;
}

.chat-input {
  position: relative;
  display: flex;
  padding-top: 15px;
  border-top: 1px solid #ccc; /* Optional: Add a border to separate the input form */
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #5900cc;
}
