.search-container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px #6e00ff;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
}

.search-input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    outline: none;
}

.results-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    position: absolute; /* or 'fixed' if you want it to stay in place while scrolling */
    top: 100%; /* Adjust as needed */
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px #6e00ff;
    z-index: 1000; /* Ensure it appears above other elements */
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    background-color: #fff;
}

.result-item:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.result-item:hover {
    background-color: #f5f5f5;
    border-color: #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.result-item.selected {
    background-color: #6e00ff;
    border-color: #6e00ff;
    box-shadow: 0 4px 8px rgba(68, 33, 95, 0.2);
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.user-name {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.last-online {
    font-size: 10px;
    color: #888;
}

.last-message {
    font-size: 0.9em;
    color: #555;
    margin-top: 4px;
}