
.sidebar-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0; /* Prevent the sidebar from shrinking */
    background: #6e00ff;
    border-radius: 25px;
    padding: 12px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.first-part {
    height: 60%;
}

.second-part {
    height: 20%;
}

.first-part ul {
    list-style: none;
    height: 80%;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.second-part ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    text-align: center;
}

.sidebar ul li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul li button:hover {
    background: #797878;
    border-radius: 15px; /* Adjust the value as needed */
}

.sidebar ul li button .fa-icon {
    margin-right: 10px;
}

