.main-page {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr 10fr; /* Adjust the column widths as needed */
    height: 100vh;
}
.left-column{
    grid-column: 1 / 2;
    margin-right: 10px;
    box-sizing: border-box;
}

.middle-column {
    grid-column: 2 / 3;
    background-color: red; /* Adjust the background color as needed */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between components */
}

.right-column {
    grid-column: 3 / 4;
    background-color: yellow; /* Adjust the background color as needed */
    padding: 20px;
}