.main-page {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 5fr 10fr; /* Adjust the column widths as needed */
    height: 100vh;
}
.left-column{
    grid-column: 1 / 2;
    margin-right: 10px;
    box-sizing: border-box;
}

.middle-column {
    grid-column: 2 / 3;
    background-color: red; /* Adjust the background color as needed */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between components */
}

.right-column {
    grid-column: 3 / 4;
    background-color: yellow; /* Adjust the background color as needed */
    padding: 20px;
}



/* Animation */

.lds-dual-ring,
.lds-dual-ring:after {
  box-sizing: border-box;
}
.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
